OKTA_DOMAIN=test-tenant.okta.com
OKTA_CLIENT_ID=replace-me
OKTA_KID=replace-me
OKTA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

SCIM_USERNAME=ips-reader
SCIM_PASSWORD=replace-with-strong-password

PORT=3000
